# Created by .ignore support plugin (hsz.mobi)
### Vagrant template
# General
.vagrant/

# Log files (if you are creating logs in debug mode, uncomment this)
# *.logs
### Ansible template
*.retry

### IDEA Setting Files
.idea
ansible-playbooks.iml

### Mac
.DS_Store
