-----BEGIN CERTIFICATE-----
MIIFTDCCAzQCCQDnmEY7e7O1UzANBgkqhkiG9w0BAQsFADBoMQswCQYDVQQGEwJK
UDEQMA4GA1UECAwHVW5rbm93bjEOMAwGA1UEBwwFVG9reW8xFDASBgNVBAoMC1Vu
a25vd24uTHRkMRAwDgYDVQQLDAdVbmtub3duMQ8wDQYDVQQDDAZVbmtvd24wHhcN
MTcxMTE4MDUzNjUzWhcNMTgxMTE4MDUzNjUzWjBoMQswCQYDVQQGEwJKUDEQMA4G
A1UECAwHVW5rbm93bjEOMAwGA1UEBwwFVG9reW8xFDASBgNVBAoMC1Vua25vd24u
THRkMRAwDgYDVQQLDAdVbmtub3duMQ8wDQYDVQQDDAZVbmtvd24wggIiMA0GCSqG
SIb3DQEBAQUAA4ICDwAwggIKAoICAQC9gRtCWv/RbLL2fdDnhDJC2/2GhZUY+vlS
XzQ9ZGoEEgosKQ4Kk4C4VcYiFcoZiVak5iK4PzIorN4mraSfb/e67CcgWyARS6wW
70+Ti0TPFr0K/iM/O64CF8d3pwoABPzw0t2rwVC9D1UBSPYoeJa7cI3KPFecbCpH
OjQvlHD4aO8wLfin4s97lCutFwJ8WQeFzGAtJH4ThTuNI3inGvmMVSaelzItKhdP
HYnL9gdu3WInAUEeLtgqJEjrBXXotqv5iVgIOzFoA0hDGJUodr5JAYB5rgLy4XCE
Qkp8NeOCivowy+doUCotNml5N3S5Yfs/1Cx3hU+LBfgGOh83r38RjUw+hmiKwx+X
xK/YDSHoLYzq7Y+m0loob3ARRKX4WjuCirC/29GbYOydVWy8WPX63x4iJA0PuwMW
Do5o6fmPBHM2G5jqoGp8UCC7OI7SIMQ0hWvPa0u2ZV2a7DTVsK8Bdq4uMDTnjWR0
evF56escFiQFNNs5jXfwM+jtshThvaudanpOjsCyizeohf5tb03xxozOPazbwzgn
utBWAJLR/aMYgaqML0nkhhJ0CBbG0PkYyGJu7ltJ2zFtFsBu5IjePK3bi6X5nGLI
oDk0HDplMyjD71x31phmjAjxKziU4//fTmZXd99iiyhnKKYmezKvXUbsoKxwHXiw
FHv/5abSYQIDAQABMA0GCSqGSIb3DQEBCwUAA4ICAQCC41h6toB8sHB/4Jy+4Neh
gWgGmONjBzkx8cKhIMiFgNTDhtqAMQWO12lB/jHb9icbXqnIy54PtuHjMYVFMs2+
FFlHbmotKRRMi0buHxYBs0BJPuQVtWS5AAWdpn12nPHujA8xjKPDt3+DOFgdclc7
Vp/Y6LE+Br+T+J8vI92FA3sF00ldyEGm45RH3yoGJBJ1b7zj7fRtE08W6iem2RVP
CGoZgmrQb2C9L3T6/ZZRC5oNkleMmZDWCrMniH509NT4aEmvNySfWNbqlSEWZNsK
6GupGstL3LNVSSnlB+pjdvwkRoDvAPaBLdtFvaazahlh63ZpND3kXr09e4NpMwP5
LjmCQTnPF+ajjFtnwxoD/4rBtr71s6J/81sT56RWfdUUOECSCDTXyy3WmsMi+KE2
DV5qgA/9K8+rFjr0VBSW1ZxJmJ/fe8ekckB8onlTanH1BOpQfPry8CqZXytDZzhW
12jcsUrZjq5YYunPkYRr2o6qDyuQ9WOVTO2xjeUHnLtYgiQAo2Mli7SfXRYWs/zG
n1yQxboDFVH96F6JI/cxOaGfzL0464XaJ3G6QzejNtn60TWUTzCs17x5bBH2M9/P
otNP+GV2CubTkvMHWbsiDXOvxPDiw4GYa24x0Nv9+z4WUOPgtxWV5CPXVG/0SqTL
pyATVPO3PFEJf7yg+F/+Ow==
-----END CERTIFICATE-----
